.register{
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    margin: auto;
    margin-top: 25vh;
    padding-right: 70px;
    padding-bottom: 20px;
    border: 2px solid white;
    border-radius: 7px;
}

.register h1{
    margin-left: 6vw;
    color: white;
} 

.register button{
    margin-left: 100px;
}

.ant-form-item-label > label {
    color: white;
  }
  
  .ant-input,
  .ant-input-password {
    border-radius: 5px;
  }
  
  .ant-checkbox-wrapper {
    color: white;
  }
  
  .ant-btn-primary {
    background-color: #66a6ff;
    border-color: #66a6ff;
    transition: all 0.3s ease;
  }
  
  .ant-btn-primary:hover {
    background-color: #89f7fe;
    border-color: #89f7fe;
  }
  
    